body {
  font-family: 'Press Start 2P', cursive;
  box-sizing: border-box;
}
h1 {
  font-size: 2rem;
  color: whitesmoke;
}

h2 {
  font-size: 1rem;
}


header {
  background-color: brown;
  display: flex;
  justify-content: space-between;
}

header a {
  margin-top: 21.44px;
  margin-bottom: 21.44px;
}

#flyzone {
  cursor: url('/IMG/fly-swatter-pic.PNG'), auto;
}

#gameContainer h1 {
  text-align: center;
}

article {
  border: 10px solid gray;
  width: 80%;
  margin: auto;
}

form>* {
  display: block;
  width: 200px;
  margin: auto;
}

select {
  text-align: center;
}

button {
  width: 180px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
}
footer span {
  background-color: brown;
  padding:10px 50px;
  color: whitesmoke;
}

header h1 {
  display: inline-block;
}

header span:nth-child(2) {
  padding-top: 30px;
  text-align: center;
  margin-right: 20px;
}

header span:nth-child(2) a {
  color: white;
  text-decoration: none;
}

#timer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
  width: 98.5%;
}

#timer span:nth-child(3),
#timer span:nth-child(5) {
  border: 10px solid salmon;
}

ol {
  width: 100px;
  margin: auto;

}
body{
  height:575px;
  background-image: url(https://via.placeholder.com/1221x575);
  background-repeat: no-repeat;
}

body {
  background-image: url(/images/Pixelpunk.gif)
}

body{
  background-size: cover;
}

li{
  color: white;
}

h3{
  color: white;
}

span{
  color:white
}

button{border:none; cursor:pointer;}
button#playbtn{
  background:url(/audio_button/mute.png) no-repeat;
  width: 12px;
  height: 14px;
}
button#mutebtn{
  background:url(/audio_button/unmute.png) no-repeat;
  width: 12px;
  height: 14px;
}
